@import "tailwindcss";

:root {
  --surface: #f4f4f6;
  --secondary: #66666e;
  --black: #000000;
  --splash: #F9874E;
  --accent: #627EF8;
  --white: #ffffff;
  --border: #e0e0e3;
}

@theme inline {
  --color-background: var(--surface);
  --color-foreground: var(--black);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--surface);
  color: var(--black);
  font-family: Arial, Helvetica, sans-serif;
}
